* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lime;
    color: purple;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 40px;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: -2px;
    line-height: 1;
    margin-bottom: 24px;
}

.cursive {
    font-family: 'Dancing Script',cursive;
    font-size: 60px;
}

p, li {
    font-size: 22px;
    line-height: 30px;
}

a {
    color: #ff5a5a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    font-family: monospace;
    line-height: 1;
}