* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkred;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 40px;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 88px;
    letter-spacing: -2px;
    line-height: 1;
    margin-bottom: 24px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
}

p, li {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 10px;
}

a {
    color: yellow !important;
    text-decoration: none;
}

a:visited {
    color: yellow;
}

a:hover {
    color: orange;
}